<h2>@ViewData["Title"]</h2>
<div class="col-lg-3">
   <img width="@ViewBag.Item.ImageWidth" height="@ViewBag.Item.ImageHeight" src="data:image/jpeg;base64,@ViewBag.Item.ImageFile" />
</div>

<div class="row">
   <div class="col-lg-3 ">
      <p class="text-right">$@ViewBag.Item.Price | @ViewBag.Item.Name</p>
      <p class="text-right">Number in Stock: @ViewBag.Item.Count</p>
   </div>
   <div class="col-lg-3">
      <button class="right" id="AddToCart" onclick="AddToCart(@ViewBag.Item.SKU)">Add To Cart</button>
   </div>
   
</div>

