@{
   ViewData["Title"] = "Account";
}
<h2>@ViewData["Title"]</h2>

<h3 onclick="expand('CreditCard')">Credit Card</h3>
<div id="CreditCard" style="display: none">
   @foreach (var card in ViewBag.User.GetCreditCards())
   {
      <div class="row">
         <div class="col-md-3">
            <p class="text-right">@card.GetDisplayCardType() @card.GetDisplayCardNumber()</p>
            <p class="text-right">@card.BillingAddress.streetAddress</p>
            <p class="text-right">@card.BillingAddress.GetRestOfAddress()</p>
         </div>
      </div>
   }
</div>

<h3 onclick="expand('Address')">Address</h3>
<div id="Address" style="display: none">
      <div class="row">
         <div class="col-md-3">
            <p class="text-right">@ViewBag.User.UserAddress.streetAddress</p>
            <p class="text-right">@ViewBag.User.UserAddress.GetRestOfAddress()</p>
         </div>
      </div>
</div>
