<h2>@ViewData["Title"]</h2>

@if (ViewBag.SearchList.Count == 0)
{
   <p>No Results</p>
}

@foreach (var item in ViewBag.SearchList)
{
   <div class="row nav-tabs">
      <div class="col-sm-4">
         <p> </p>
         <img width="@item.ImageWidth" height="@item.ImageHeight" src="data:image/jpeg;base64,@item.ImageFile" />
         <p> </p>
      </div>
      <div class="col-sm-4">
         <h3 style="font-size: 20px" onclick="ViewItem(@item.SKU)"><b>@item.Name</b></h3>
         <p>Price: $@item.Price</p>
         <p>SKU Number: @item.SKU</p>
         <p>Quantity Available: @item.Count</p>
      </div>
   </div>
}
